{% extends 'base.html.twig' %}

{% block title %}Modification identité{% endblock %}

{% block body %}
<h2 class="text-info text-center">Modification de la demande d'identité</h2>
<div class="container-fluid">
    <div class="row justify-content-center">

        {{form(form)}}
    </div>
</div>
{% endblock %}